{% extends "layout.html" %}
{% block content %}

{% if not results %}

<div class="container">
  {% for item in productresult %}
  <h1>{{item[0]}}</h1>
  <h2>{{item[3]}}</h2>
  <!-- {{productresult}} -->
  {% set productid = item[0] %}
  
  {% endfor %}




  <form action="/start-reward" method="post">
    <input type="submit" name="{{productid}}" class="start-reward" value="Redeem">
  </form>

  <button onclick="goBack()">Return</button>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>

</div>
{% endif %}





<div class="grid-container">
  {% for item in results %}

  <div class="grid-item">{{item[1]}}
    <style>
      .grid-item {
        background-image: url(/static/images/{{item[2]}});
        background-repeat: no-repeat;
        background-size: 20%;
      }
    </style>
    <h3 class="description">{{item[3]}}</h3>

    <h2 class="rewardprice">{{item[4]}} Points</h2>

    <div class="container">
      <form action="/activatereward" method="post">
        <input type="submit" name="reward" class="activate-reward" value="{{item[1]}}">
      </form>
    </div>

  </div>
  {% endfor %}
</div>


{% endblock %}