/**GLOBAL**/

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(235, 235, 235);
  color: #000000;

}

.page_wrpr {
  max-width: 1200px;
  margin: 0px auto;
}


.admin_wrpr {
  max-width: 1200px;
  
  margin: 0px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.grid-container>div {
  display: flex;
  background-color: rgba(255, 255, 255);
  text-align: left;
  padding: 0 0;

}

.grid-cart {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  
  padding: 10px;
}

.grid-cart>div {
  display: flex;
  background-color: rgba(255, 255, 255);
  text-align: left;
  padding: 0 0;

}

.foodtitle {
  color: red;
  font-size: 30px;
  text-align: left;
  padding-left: 30px;
  padding-top: 15px;
}

.fooddescription {
  color: black;
  font-size: 15px;
  align-self: center;
  padding-left: 30px;
}

.foodprice {
  color: black;
  font-size: 15px;
  align-self: center;
  padding-left: 30px;
  display: flex;
}

.grid-item {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grid-item:hover {
  border: 2px solid black;
  cursor: pointer;
}

.description {
  color: gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;

}

.rewardprice {
  color: green;

}

.activate-reward {
  width: 100%;
  height: 25%;

}

.foodimage {
  width: 110px;
  height: 110px;
  object-fit: cover;
}


.confirmimage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#foodconfirm {
  top: 50%;
  left: 50%;
  width: 30em;
  height: 28em;
  margin-top: -14em;
  margin-left: -15em;
  border: 4px solid red;
  background-color: #ffffff;
  position: fixed;
}

.input {
  margin-top: 20px;
  margin-left: 30px;
  width: 40px;
  font-size: 30px;
}

.addtocart {
  display: flex;
  margin-left: 30px;
  margin-top: 10px;

  background-color: green;
  color:white;
}

.back {
  display: flex;
  margin-left: 30px;
  margin-top: 10px;

  background-color: red;
  color: white;
}

.overallclick {
  width:100%
}

.cart {
  display: flex;
  background-color: white;
  font-size: 20px;
  
  justify-content: center;
  align-items: center;
  width:100%
  
}
.cartmsg {
  text-align: center;
  color: white;
  font-size: 15px;
}

.pageorder {
  display: inline-block;
  
  width: 200px;
  height: 50px;

  background-color: red;
  
}
.pageorder:hover {
  
  border: 2px solid black;
  cursor: pointer;
}

.pageremove {
  display: flex;
  
  width: 200px;
  height: 50px;
  
  justify-content: center;
  color: white;
  background-color: red;
  
}
.pageremove:hover {
  
  border: 2px solid black;
  cursor: pointer;
}

.foodcart {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.foodtitlecart {
  color: red;
  font-size: 10pxpx;
  text-align: left;
  padding-left: 10px;

}

.foodpricecart {
  color: black;
  font-size: 15px;
  align-self: center;
  padding-left: 10px;
  display: flex;
}

.checkout {
  color: white;
  font-size: 15px;
}