{% extends "layout.html" %}
{% block content %}

<!--- 
ORDER RETRIEVAL

[0] = orderid
[1] = fname
[2] = lname
[3] = phnum
[4] = foodlist ( string not json )
[5] = status ( confirm , ready for pickup)


-->
<div class="admin_wrpr">
    <h1>View Online Orders</h1>

    <p>Manage your Restaurant's Incoming Orders</p>
    <hr>

    {% if not order %}
    <h3>You have no new orders.</h3>
    <br>

    {% endif %}

    {% if order %}

    <div input="submit" class="grid-admin">
        {% for i in order %}
        {% set order_dict = i[4] | to_dict %}
        
        <div class="grid-food" data-food-id="{{ i[0] }}">
            <span class="contents">
                <div class="fooditerationtitle"> {{i[1]}} {{i[2]}}'s Order</div>
                <div class="foodpricecart"> {{order_dict |count}} Items </div>

                {% for fooditeration in order_dict %}

                {% for literalfood in foods %}
                
                {% if literalfood[0] | string == fooditeration %}

                <div class="fooditeration"> {{literalfood[2]}} </div>
                {% endif %}
                {% endfor %}
                {% endfor %}
                <br>
            </span>

            
            {% if i[5] == "progress" %}
            <form id="readypickup" action="/admin" method='POST'>
                <button name="readypickup" value='{{i[0]}}' class="adminbtn3">Order Picked Up</button>
            </form>
            {% elif not i[5] %} 
            <form id="cancelorder" action="/admin" method='POST'>
                <button name="cancelorder" value='{{i[0]}}' class="adminbtn">Cancel Order</button>
            </form>
            
            <form id="confirmorder" action="/admin" method='POST'>
                <button name="confirmorder" value='{{i[0]}}' class="adminbtn1">Confirm Order</button>
            </form>
            {% endif %}

        </div>


        {% endfor %}
    </div>
    {% endif %}

    {% endblock %}
</div>