{% extends "layout.html" %}
{% block content %}
{% set subtotal = [0] %}

<div class="page_wrpr">

    <div style="display: none;">
        <form id="redirectForm" action="/" method="POST">
            <input type="hidden" name="food_id" id="foodIdInput" value="">
        </form>
    </div>

    {% if not foodcart %}
    <h2>Checkout is Empty...</h2>
    Try adding some food to cart?

    {% elif  foodcart %}
    <h2>Checkout</h2>
    Please confirm below that these are what you ordered.

    {% endif %}
    <div input="submit" class="grid-cart">
        {% for f in foodcart %}
        <div class="grid-food" data-food-id="{{ f[0] }}">
            {% if f[4] %}
            <img class="foodcart" src="static/images/{{f[2]}}" alt="">
            {% endif %}
            <span class="contents">
                <div class="foodtitlecart"> {{f[0]}} </div>
                <div class="foodpricecart"> ${{f[1]}}.00 </div>

                {% if subtotal.append(subtotal.pop()+ f[1]) %}{% endif %}
            </span>

            
            <form id="redirectCart" action="/cart" method='POST'>
            </form>

            <form id="redirectCart" action="/cart" class="cartbtn" method='POST'>
                <button type="back" name="removefood" value='{{f[4]}}' class="back">Remove Item</button>
            </form>

        </div>



        {% endfor %}

    </div>


    
    
    {% if foodcart %}
    <h2 class="subtotal">Subtotal: ${{subtotal[0]}}.00</h2>
<hr>
    <h2>Please enter the following details.</h2>
    <p>We need to know who to give our food to.</p>
<i>By entering your details, you consent that your data upon First Name, Last Name, Phone Number will be collected into our database where we will process the information to allow this ordering system to work.</i>
<hr>    
<br>

    <form action="/submitorder">
        <label for="fname">First name:</label>
        <input required="required" type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last name:</label>
        <input required="required" type="text" id="lname" name="lname"><br><br>
        <label for="phone">Phone Number:</label>
        <input required="required" type="number" id="phone" name="phone"><br><br>

        <input class="pageremove" type="submit" value="Submit">
    </form>


    {% endif %}
</div>

<script>
    const gridItems = document.querySelectorAll('.grid-item');

    function handleClick(event) {
        const foodId = event.currentTarget.dataset.foodId;

        const foodIdInput = document.getElementById('foodIdInput');
        foodIdInput.value = foodId;

        const redirectForm = document.getElementById('redirectForm');
        redirectForm.submit();
    }

    gridItems.forEach(item => {
        item.addEventListener('click', handleClick);
    });

    function handlePageOrderClick(event) {
        const redirectCart = document.getElementById('redirectCart');
        redirectCart.submit();
    }



</script>

{% endblock %}