{% extends "layout.html" %}
{% block content %}
<div class="page_wrpr">
    {{foodcart}}
    <div style="display: none;">
        <form id="redirectForm" action="/" method="POST">
            <input type="hidden" name="food_id" id="foodIdInput" value="">
        </form>
    </div>


    <h1>Edwin's Meat</h1>
    Please confirm below that these are what you ordered.

    <div input="submit" class="grid-container">
        {% for f in foodcart %}
        <div class="grid-item" data-food-id="{{ f[0] }}">
            {% if f[4] %}
            <img class="foodimage" src="static/images/{{f[2]}}" alt="">
            {% endif %}
            <span class="contents">
                <div class="foodtitle"> {{f[0]}} </div>
                <div class="fooddescription"> {{f[3]}} </div>
                <div class="foodprice"> ${{f[1]}}.00 </div>



            </span>

        </div>



        {% endfor %}

    </div>


    <hr>   



</div>

{% endblock %}