
{% extends "layout.html" %}
{% block content %}
{{showing}}
{{data}}

{% if showing %}

<div id="foodconfirm">
    <img class="confirmimage" src="static/images/crispy.png" alt="">

    <span class="contents">
        <div class="foodtitle"> Crispy Chicken </div>
        <div class="fooddescription"> Description </div>
        <div class="foodprice"> $0.00 </div>

        <input type="number" class="input" value="1" min="1" /> 
    
        <button class="addtocart">Add to Cart</button>

        <form class="backbtn" method='GET'>
            <button type="back" class="back">Back</button>
        </form>
    </span>
</div>

{% endif %}

<div class="page_wrpr">
    <h1>Edwin's Restaurant - Christchurch</h1>
    The Best Fried Chicken in Christchurch! - Cooked to Order - Homemade Sauce - Hand Battered - House marinated with
    the highest quality ingredients - New Zealand Fresh Chicken sourced from a mixture of suppliers delivered daily.
    <form action="/">
      <!---  <input type="submit" value="Click me" />-->
    </form>
    <hr>
    {% for i in categories %}
    <h2>{{i[1]}}</h2>
    <p>{{i[2]}}</p>

    <div input="submit" class="grid-container">
        {% for f in foods %}
        {% if f[1] == i[0] %}
        
        <div class="grid-item">
            {% if f[4]  %}
            <img class="foodimage" src="static/images/{{f[4]}}" alt="">
            {% endif %}
            <span class="contents">
                <div class="foodtitle"> {{f[2]}} </div>
                <div class="fooddescription"> {{f[5]}} </div>
                <div class="foodprice"> ${{f[3]}}.00 </div>


                
            </span>
            
        </div>



        {% endif %}
        {% endfor %}

    </div>
    {% endfor %}
    {% endblock %}
</div>