{% extends "layout.html" %}
{% block content %}
<div class="page_wrpr">
    <h1>Edwin's Restaurant - Christchurch</h1>
    The Best Fried Chicken in Christchurch! - Cooked to Order - Homemade Sauce - Hand Battered - House marinated with
    the highest quality ingredients - New Zealand Fresh Chicken sourced from a mixture of suppliers delivered daily.
    <form action="/">
        <input type="submit" value="Click me" />
    </form>
    <hr>
    {% for i in categories %}
    <h2>{{i[1]}}</h2>
    <p>{{i[2]}}</p>

    <div class="grid-container">
        {% for f in foods %}
        {% if f[1] == i[0] %}

        <div class="grid-item">
            {% if f[4]  %}
            <img class="foodimage" src="static/images/{{f[4]}}" alt="">
            {% endif %}
            <span class="contents">
                <div class="foodtitle"> {{f[2]}} </div>
                <div class="fooddescription"> {{f[5]}} </div>
                <div class="foodprice"> ${{f[3]}}.00 </div>
            </span>
        </div>



        {% endif %}
        {% endfor %}

    </div>
    {% endfor %}
    {% endblock %}
</div>