{% extends "layout.html" %}
{% block content %}
{% if showing %}
<div id="foodconfirm">
    <img class="confirmimage" src="static/images/{{food[0][2]}}" alt="">

    <span class="contents">
        <div class="foodtitle">{{food[0][0]}}</div>
        <div class="fooddescription">{{food[0][3]}}</div>
        <div class="foodprice">${{food[0][1]}}.00</div>

        <form id="redirectCart" action="/" class="cartbtn" method='POST'>
            
            <input type="number" name="quantityfoodorder" class="input" value="1" min="1" max="5">
            <div class="fooddescription">Quantity ( 5 orders maximum at a time )</div>
            <button type="addtocart" id="addToCartId" name="addfood" value='{{food[0][4]}}' class="addtocart">Add to
                Cart</button>
        </form>
        


        <form class="backbtn" method='POST'>
            <button type="back" class="back">Back</button>
        </form>


    </span>
</div>

{% endif %}
<div class="page_wrpr">
    <div style="display: none;">
        <form id="redirectForm" action="/" method="POST">
            <input type="hidden" name="food_id" id="foodIdInput" value="">
        </form>
    </div>


    <h1>Edwin's Meat</h1>
    <p>The Best Fried Chicken in Christchurch! - Cooked to Order - Homemade Sauce - Hand Battered - House marinated with
        the highest quality ingredients - New Zealand Fresh Chicken sourced from a mixture of suppliers delivered daily.
    </p>




    <hr>

    {% if foodcart %}
    <div class="pageorder" id="pageorderDiv" onclick="handlePageOrderClick()">
        <h2 class="cartmsg">Checkout {{foodlength}} Items</h2>
    </div>


    {% endif %}
    {% for i in categories %}
    <h2>{{i[1]}}</h2>
    <p>{{i[2]}}</p>

    <div input="submit" class="grid-container">
        {% for f in foods %}
        {% if f[1] == i[0] %}

        <div class="grid-item" data-food-id="{{ f[0] }}">
            {% if f[4] %}
            <img class="foodimage" src="static/images/{{f[4]}}" alt="">
            {% endif %}
            <span class="contents">
                <div class="foodtitle"> {{f[2]}} </div>
                <div class="fooddescription"> {{f[5]}} </div>
                <div class="foodprice"> ${{f[3]}}.00 </div>



            </span>

        </div>



        {% endif %}
        {% endfor %}

    </div>
    {% endfor %}

</div>

<script>
    const gridItems = document.querySelectorAll('.grid-item');

    function handleClick(event) {
        const foodId = event.currentTarget.dataset.foodId;

        const foodIdInput = document.getElementById('foodIdInput');
        foodIdInput.value = foodId;

        const redirectForm = document.getElementById('redirectForm');
        redirectForm.submit();
    }

    gridItems.forEach(item => {
        item.addEventListener('click', handleClick);
    });

    document.getElementById('addToCartId').addEventListener('addcart', function (event) {
        const quantityId = event.currentTarget.dataset.quantity;

        const quantityIdInput = document.getElementById('quantityId');
        quantityIdInput.value = quantityId;

        const redirectCart = document.getElementById('redirectCart');
        redirectCart.submit();
    })

    function handlePageOrderClick() {
        window.location.href = "/cart";
    }

</script>

{% endblock %}